<h3>Карточка контрагента</h3>
  <%= render 'form' %>
  <div class="actions">
    <%= link_to 'Отмена', counterparties_path, :class => "waves-effect waves-light btn red accent-1" %>
    <%= link_to 'Редактировать', edit_counterparty_path(@counterparty), :class => "btn waves-effect waves-light" %>
  </div>