<h3>Карточка банковской карты</h3>
  <%= render 'form' %>
  <div class="actions">
    <%= link_to 'Отмена', cards_path, :class => "waves-effect waves-light btn red accent-1" %>
    <%= link_to 'Редактировать', edit_card_path(@card), :class => "btn waves-effect waves-light" %>
  </div>