<h3>Карточка налога</h3>
  <%= render 'form' %>
  <div class="actions">
    <%= link_to 'Отмена', taxes_path, :class => "waves-effect waves-light btn red accent-1" %>
    <%= link_to 'Редактировать', edit_tax_path(@tax), :class => "btn waves-effect waves-light" %>
  </div>