<h3>Карточка группы категорий</h3>
  <%= render 'form' %>
  <div class="actions">
    <%= link_to 'Отмена', categories_groups_path, :class => "waves-effect waves-light btn red accent-1" %>
    <%= link_to 'Ихменить', edit_categories_group_path(@categories_group), :class => "btn waves-effect waves-light" %>
  </div>
